<style>



.logo{
	float: left;
	width: 100%;
}


.texto{
color: white;
text-align: center;
padding-top: 60px;

}

.texto2{
color: black;
text-align: center;
padding-top: 90px;

}

.texto2 h1{
font-size: 17px;
padding-top: 30px;


} 

.container h1{
margin-bottom: 3%;

}

.texto3{
color: black;
text-align: center;
padding-top: 12px;

padding-bottom: 12px;

}

.texto3 h1{
font-size: 12px;
padding-top: 12px;


}


.texto4{
color: black;
text-align: justify;
padding-top: 12px;

padding-bottom: 12px;
width: 300px;
float: left;

}

.texto img{

}

.container{
width: 100%;
margin: 0 auto;
text-align: center;
padding: 0;

}



.button {

	background-color: #663399;
	padding: 7px 10px;
	border-radius: 5px;
	color: #FFF;
	border: none;
}

.blue {

	background-color: dodgerblue;
}

.familia {
	width: 300px;
}

.navbar{

	position: fixed;
  top: 0;
	width: 100%;
	background-color: #663399;
	z-index: 100;
	border-style: none;
	margin-bottom: 100px;
	padding: 0 0 0 10%;
	padding-right: 15%;


}

.navbar-default .navbar-nav > li > a:hover {
  color: #663399;
  text-decoration:none;
  background-color: #e7e7e7;
}

.navbar-default .navbar-nav > li > a{

color: white;
}



.row{
width: 90%;
margin: 0 auto;
margin-top: 1%;
margin-bottom: 3%;

}


/*carrusel*/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 500px;
}
.fade-carousel .carousel-inner .item {
    height: 500px;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
    border: 2px solid white
}
.fade-carousel .carousel-indicators > li.active {
  transform: scale(1.5);
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 3em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

h3, .h3{
	font-size: 18px;
      font-size: 25px;
    margin-top: 2%;

}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out 5s;
       -moz-transition: 2s all ease-in-out 5s; 
        -ms-transition: 2s all ease-in-out 5s; 
         -o-transition: 2s all ease-in-out 5s; 
            transition: 2s all ease-in-out 5s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out 5s;
       -moz-transition: 2s all ease-in-out 5s; 
        -ms-transition: 2s all ease-in-out 5s; 
         -o-transition: 2s all ease-in-out 5s; 
            transition: 2s all ease-in-out 5s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: 2;
    background-color: #080d15;
    opacity: 0.1;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;
    background-color: #F2F2F2;
    color: grey;
    font-size: 12px;

}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #663399;
    border-color: #663399;
    outline: none;
    margin: 3px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3, 
.fade-carousel .slides .slide-4, 
.fade-carousel .slides .slide-5 {
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url("../img/jordania.jpg"); 
}
.fade-carousel .slides .slide-2 {
  background-image: url("../img/turquia.jpg");
}
.fade-carousel .slides .slide-3 {
  background-image: url("../img/israel.jpg"); 
}
.fade-carousel .slides .slide-4 {
  background-image: url("../img/egipto.jpg");
}
.fade-carousel .slides .slide-5 {
  background-image: url("../img/marruecos.jpg");
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }  
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; } 
        .nosotros { margin-top: 17%;}

}
}

.hero h3{
	font-size: 17px;
}

.carousel-control.left{
	background-image: none;
	height: 500px;
}
.carousel-control.right{
	background-image: none;
		height: 500px;

}

.carousel-inner{
}

.navbar-default .navbar-toggle{
	border-color: white;
      margin-top: -50px !important;
    margin-right: 1px !important;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
/*fin carrusel*/

.btn-primary{
	background-color: #663399;
	border-color: #663399;
}

/*footer*/

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: auto;
margin: 0 auto;
text-align: center;
background: #f8f8f8;
margin-top: 51px;
font-family: 'Nunito', sans-serif;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: auto;
}

/* Taller footer on small screens */
@media (max-width: 34em) {
    body {
    }
    .footer {
      height: auto;
    }

}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  background-color: #663399;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer a {
  color: white;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #d8d8d8;
  text-decoration:none;
}

footer .form-control {
    background-color: white;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: black;
    padding: 0.7em 1em;
}

.map{
	padding: 10px;
}

.nosotros {
	height: 100%;
	width: 100%;
}

.text-left {
	text-align: left;
	margin-bottom: 40px;
}

.fondogris{
	background-color: aliceblue;
	margin-top: 30px;
}

.fondogrisclaro{
	background-color: #F5F5F5;
	margin-top: 30px;
}

.col-md-4 {
    margin-top: 2%;
}

.input-group {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;}

    .row2 {
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 3%;
}

.btn-group {
    z-index: 2;
    margin-left: -1px;
    background-color: grey;
}

.my-4 li{
	background-color: #e6f7ff;
	margin: 5px;
}

.fondoazul{

	background-color: #e6f7ff;
}


/*search*/

#custom-search-input{
    padding: 3px;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 1;
    box-shadow: none;
    width: 100%;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

@media (min-width: 992px){
.col-md-6 { width: 100%;
	}
		}

.imgcorta img{
object-fit: cover; border-radius:50%; 
width: 150px;
height: 150px;
}

.masnoticias{
    background-color: #663399;
    width: 100%;
    color: white;
    padding-top: 1%;
    border-radius: 15px;


}

    .relativo{
position: relative;
    }

  @media (min-width: 768px){
.navbar {
    border-radius: 0px;
}
		}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video{
  height: 77%;
  padding: 10px;
}

.redes{
  margin-top: 20px;
}

.gatito img{
  display: inline-block;
}
		



    /*Font-awesome integration*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/*Google font integration*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

#contact{
    background-color:#f1f1f1;
    font-family: 'Roboto', sans-serif;
}

#contact .well{
    margin-top:30px;
    border-radius:0;
}

#contact .form-control{
    border-radius: 0;
    border:2px solid #grey;
}

#contact button{
    border-radius:0;
    border:2px solid #663399;
}

#contact .row{
    margin-bottom:30px;
}

@media (max-width: 768px) { 
    #contact iframe {
        margin-bottom: 15px;
    }
    
}

b, strong {
    font-weight: bold;
    color: #663399;
}

@media (min-width: 768px)
.navbar-nav > li {
    /* float: left; */
    display: inline-block;
}



.dropdown-submenu{ position: relative; }
.dropdown-submenu>.dropdown-menu{
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;
  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  border-color:transparent;
  border-style:solid;
  border-width:5px 0 5px 5px;
  border-left-color:#cccccc;
  margin-top:5px;margin-right:-10px;
}
.dropdown-submenu:hover>a:after{
  border-left-color:#555;
}
.dropdown-submenu.pull-left{ float: none; }
.dropdown-submenu.pull-left>.dropdown-menu{
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}


/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 767px){
    .desk { display: block;} 
    .mob { display: none;} 
}
@media screen and (max-width: 767px){
    .mob { display: inline; }
    .desk { display: none; } 
    .mob img{ margin: 0 auto; text-align: center; }
   

}
}


  .margin {margin-bottom: 45px;}
  .bg-1 { 
      background-color: #B277B7; 
      color: #ffffff;
  }
  .bg-2 { 
      background-color: #474e5d; 
      color: #ffffff;
      height: 100%;
    padding: 2%;

  }
  .bg-3 { 
      background-color: #ffffff; 
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; 
      color: #fff;
  }

.botones {
  padding: 2%;
}

.grayscale {
     filter: grayscale( 100% );
}


     .byn img {
    filter: none;
    -webkit-filter: grayscale(100%);
    -moz-filter:    grayscale(100%);
    -ms-filter:     grayscale(100%);
    -o-filter:      grayscale(100%);
    cursor: pointer;
    transition: all 300ms ease;
  }
  .byn img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    -moz-filter:    grayscale(0%);
    -ms-filter:     grayscale(0%);
    -o-filter:      grayscale(0%);
  }




  @media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.lead{
  padding: 3%;
  font-size: 16px;
}

</style>